@model Usuario
@{
    ViewData["Title"] = "Login";
}

<form method="POST" asp-action="Login">
    <p>
        <label asp-for="Login">Login</label>
        <input asp-for="Login">
    </p>
    <p>
        <label asp-for="Senha">Senha</label>
        <input asp-for="Senha">
    </p>
    <p>
        <input type="submit" value="Entrar">
    </p>

</form>

<p>
    @ViewBag.Mensagem
</p>